@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');



.logout-header {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

body.logout-page {
    background: url("../img/bg-logout.png") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

div#main-content-logout {
    background: #4D8077;
    width: 710px;
    max-width: 100%;
    margin: auto;
    border-radius: 30px;
    padding-top: 75px;
    padding-bottom: 75px;
}

div#main-content-logout form {
    margin: auto;
    width: 350px;
}

div#main-content-logout h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
}

div#main-content-logout label {
    color: #ffffff;
}

a.link-logout {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
    margin-top: 20px;
    color: #ffffff;
}

div#main-content-logout p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}

div#main-content-logout .subtitle {
    font-size: 22px;
}

a.button.login-button {
    margin-top: 65px;
    background: #1C5B50;
    color: #ffff;
}

div#main-content-logout .button {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 75px;
}

.separator {
    display: flex;
    align-items: center;
    color: #fff;
    width: 400px;
    margin: 35px auto;
    justify-content: space-between;
}

.separator hr {
    width: 130px;
    border: none;
    height: 1px;
    background: #fff;
}